@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Sofia+Sans+Condensed:ital,wght@1,200&display=swap");

* {
  /* margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */
}

.container {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: antiquewhite;
}

.container .main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  background-color: white;
  border-radius: 20px;
  padding-right: 10px;
}

.container .img {
  width: 300px;
  height: 350px;
  /* box-sizing: border-box; */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


/* .container .main  {
  margin-left: 22px;
} */

/* .container .main .header1 p {
  margin-top: 10px;
  line-height: 22px;
  color: rgb(126, 115, 115);
  font-family: "Kanit", sans-serif;
  font-size: 22px;
} */

/* .container .main .header1 #discount {
  font-size: 2em;
  font-weight: bold;
  color: rgba(2, 176, 2, 0.783);
  position: relative;
  top: 20px;
} */

/* .container .main .header1 #OG {
  position: relative;
  top: 20px;
  left: 10px;
  text-decoration: line-through;
} */

/* .container .main .btn {
  position: relative;
  left: 70px;
  top: 25px;
} */

/* .container .main .btn button {
  color: white;
  background-color: rgba(2, 176, 2, 0.783);
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 75px
} */
