/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.container {
  background-color: brown;
  height: 500px;
  border: 1px solid black;
  display: grid;

  grid-template-columns: 150px 1fr 1fr;
  grid-template-rows: 30px 1fr 30px 30px;

  gap: 3px;
}

.box {
  background-color: aqua;
  border: 3px solid black;
  /* width: 80px; */
  /* height: 80px; */
}

#box3 {
    grid-column-start: 2;
    grid-column-end: 4;
}   
#box1, #box4 {
    grid-column-start: 1;
    grid-column-end: 4;
}

#box5 {
    
}