.container {
    background-color: brown;
    height: 500px;
    border: 1px solid black;
    display: grid;

    /* grid-template-columns: 200px 200px 210px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: 100px repeat(2, 1fr); */
    grid-template-columns: 150px 1fr 1fr 150px;
    /* grid-template-rows: 90px 90px 90px 90px; */
    /* grid-template-rows: repeat(4,1fr); */
    grid-template-rows: 30px 1fr 30px;

    gap: 3px;
}
.box {
    background-color: aqua;
    border: 3px solid black;
    /* width: 100px; */
    /* height: 80px; */
}

#box3 {
    grid-column-start: 2;
    grid-column-end: 4;
}

#box1, #box4{
    grid-column-start: 1;
    grid-column-end: 5;
}

