@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap%27');

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 26%;

    padding: 20px;
    border-radius: 10px;
}
.container{
    padding-left: 10px;

}
.line{
    height: 2px;
    background-color: rgb(237 237 237);
    width: 65%;
}
.card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#image{
    border-radius: 8px;


}

#spprice{
    color: rgb(102 116 204);
    font-weight: bolder;
}

p{

    display: inline;
}
.pricing{
    margin-top: 8px;
    font-weight: bolder;
    font-family: Rubik,sans-serif;
    margin-bottom: 8px;
}
#regprice{
    margin-left: 6px ;
    font-weight: bolder;
    color: grey;
    font-family: Rubik,sans-serif;
    text-decoration: line-through;
}

#discountbutt{
    --tw-bg-opacity: 1;
    margin-left: 6px;
    background-color: rgb(29 209 161/var(--tw-bg-opacity));
    border-radius: 8px;
    border: transparent;
    font-size: 12px;
    font-weight: bolder;
    padding: 6px;
    color: rgb(250, 250, 250);
    font-family: Rubik,sans-serif;
}
h2{
    font-family: Rubik,sans-serif;
    font-weight: bolder;
}